# Folder containing the tarkov data
/tarkovdata-master/

# Folder containing the virtual python environment
/venv/

# Python files used for testing simple commands
test.py
/__pycache__/
tempCodeRunnerFile.py

# images used durring development
*.png
!demo.png
/tempPngs/

# used to test and improve editor
temp.md