-- MariaDB dump 10.19  Distrib 10.7.3-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tarkovdata
-- ------------------------------------------------------
-- Server version	10.4.19-MariaDB-1:10.4.19+maria~bionic

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `items` (
  `item_id` char(24) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `short_name` varchar(100) DEFAULT NULL,
  `is_quest_item` int(11) DEFAULT NULL,
  `link` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maps`
--

DROP TABLE IF EXISTS `maps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maps` (
  `map_id` char(24) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `link` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`map_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maps`
--

LOCK TABLES `maps` WRITE;
/*!40000 ALTER TABLE `maps` DISABLE KEYS */;
/*!40000 ALTER TABLE `maps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_gets`
--

DROP TABLE IF EXISTS `objective_gets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_gets` (
  `objective_get_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `item_id` char(24) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `type` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`objective_get_id`),
  KEY `quest_id` (`quest_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `objective_gets_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`),
  CONSTRAINT `objective_gets_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_gets`
--

LOCK TABLES `objective_gets` WRITE;
/*!40000 ALTER TABLE `objective_gets` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_gets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_kills`
--

DROP TABLE IF EXISTS `objective_kills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_kills` (
  `objective_kill_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `target_name` varchar(100) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `map_id` char(24) DEFAULT NULL,
  PRIMARY KEY (`objective_kill_id`),
  KEY `quest_id` (`quest_id`),
  KEY `map_id` (`map_id`),
  CONSTRAINT `objective_kills_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`),
  CONSTRAINT `objective_kills_ibfk_2` FOREIGN KEY (`map_id`) REFERENCES `maps` (`map_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_kills`
--

LOCK TABLES `objective_kills` WRITE;
/*!40000 ALTER TABLE `objective_kills` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_kills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_locates`
--

DROP TABLE IF EXISTS `objective_locates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_locates` (
  `objective_locate_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `target_name` varchar(100) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `map_id` char(24) DEFAULT NULL,
  PRIMARY KEY (`objective_locate_id`),
  KEY `quest_id` (`quest_id`),
  KEY `map_id` (`map_id`),
  CONSTRAINT `objective_locates_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`),
  CONSTRAINT `objective_locates_ibfk_2` FOREIGN KEY (`map_id`) REFERENCES `maps` (`map_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_locates`
--

LOCK TABLES `objective_locates` WRITE;
/*!40000 ALTER TABLE `objective_locates` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_locates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_reps`
--

DROP TABLE IF EXISTS `objective_reps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_reps` (
  `objective_rep_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `trader_id` char(24) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  PRIMARY KEY (`objective_rep_id`),
  KEY `quest_id` (`quest_id`),
  KEY `trader_id` (`trader_id`),
  CONSTRAINT `objective_reps_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`),
  CONSTRAINT `objective_reps_ibfk_2` FOREIGN KEY (`trader_id`) REFERENCES `traders` (`trader_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_reps`
--

LOCK TABLES `objective_reps` WRITE;
/*!40000 ALTER TABLE `objective_reps` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_reps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_skills`
--

DROP TABLE IF EXISTS `objective_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_skills` (
  `objective_skill_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `skill_name` varchar(100) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  PRIMARY KEY (`objective_skill_id`),
  KEY `quest_id` (`quest_id`),
  CONSTRAINT `objective_skills_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_skills`
--

LOCK TABLES `objective_skills` WRITE;
/*!40000 ALTER TABLE `objective_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_use_items`
--

DROP TABLE IF EXISTS `objective_use_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_use_items` (
  `objective_use_item_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `item_id` char(24) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `map_id` char(24) DEFAULT NULL,
  `type` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`objective_use_item_id`),
  KEY `quest_id` (`quest_id`),
  KEY `map_id` (`map_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `objective_use_items_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`),
  CONSTRAINT `objective_use_items_ibfk_2` FOREIGN KEY (`map_id`) REFERENCES `maps` (`map_id`),
  CONSTRAINT `objective_use_items_ibfk_3` FOREIGN KEY (`item_id`) REFERENCES `items` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_use_items`
--

LOCK TABLES `objective_use_items` WRITE;
/*!40000 ALTER TABLE `objective_use_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_use_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objective_warnings`
--

DROP TABLE IF EXISTS `objective_warnings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objective_warnings` (
  `objective_warning_id` char(24) NOT NULL,
  `quest_id` char(24) DEFAULT NULL,
  `warning` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`objective_warning_id`),
  KEY `quest_id` (`quest_id`),
  CONSTRAINT `objective_warnings_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`quest_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objective_warnings`
--

LOCK TABLES `objective_warnings` WRITE;
/*!40000 ALTER TABLE `objective_warnings` DISABLE KEYS */;
/*!40000 ALTER TABLE `objective_warnings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quests`
--

DROP TABLE IF EXISTS `quests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quests` (
  `quest_id` char(24) NOT NULL,
  `trader_id` char(24) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `prev_quest_id` char(24) DEFAULT NULL,
  `link` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`quest_id`),
  KEY `trader_id` (`trader_id`),
  KEY `prev_quest_id` (`prev_quest_id`),
  CONSTRAINT `quests_ibfk_1` FOREIGN KEY (`trader_id`) REFERENCES `traders` (`trader_id`),
  CONSTRAINT `quests_ibfk_2` FOREIGN KEY (`prev_quest_id`) REFERENCES `quests` (`quest_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quests`
--

LOCK TABLES `quests` WRITE;
/*!40000 ALTER TABLE `quests` DISABLE KEYS */;
/*!40000 ALTER TABLE `quests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traders`
--

DROP TABLE IF EXISTS `traders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traders` (
  `trader_id` char(24) NOT NULL,
  `locale_name` varchar(100) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `currency` char(3) DEFAULT NULL,
  `link` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`trader_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traders`
--

LOCK TABLES `traders` WRITE;
/*!40000 ALTER TABLE `traders` DISABLE KEYS */;
/*!40000 ALTER TABLE `traders` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-05-08 22:02:55
